.design-name{
  color:$primary-color !important;
    font-size: 18px !important;
}
.nav-back-icon{
  color:$primary-color !important;
}

.subject-title{
  background-color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
span{
  padding:0.5em;
  font-size: 16px !important;
  font-weight: 400;
}
}
.modal-90w {
  min-width:90%;
}

.modal-60w {
  min-width:60%;
}
.modal-40w {
  min-width:40%;
}
.classroom-nav-tab {
  .nav{
    justify-content: space-between;
  }
  .nav-tabs {
    .nav-link {
      // padding: 8px 3px;
      // margin: 0px 25px;
      width: fit-content;
      text-align: center;
      border: 0px;
      outline: none;
      color: #8f8f8f;
      font-weight: 500;
      font-size: 14px;
      border-radius: 0px;
      // &:nth-child(1) {
      //   margin: 0px;
      //   margin-right: 20px;
      // }

      svg {
        color: #8f8f8f;
      }
      &.active {
        border-bottom: 3px solid $primary;
        color:$primary;
        svg {
          color:$primary;
        }
      }
    }
  }
  @media (max-width: 576px) {
    .nav-tabs {
      justify-content: space-between;
      .nav-link {
        padding: 0;
        margin: 0;
        font-size: 12px;
        &:nth-child(1) {
          margin: 0px;
          margin-right: 0px;
        }
      }
    }
  }
}


.editor-subject{
  color:$primary-color !important;
  font-size: 16px !important;
  font-weight: 400;
}
.settings-primary-title{
color:$primary-color;
font-weight: 500;
font-size: 12px;
padding: 1em 0;
}
.settings-secondary-title{
color:$secondary-color;
font-weight: 400;
font-size: 12px;
padding-top: 1em;
}


