.design-name{
  color:$primary-color !important;
    font-size: 18px !important;
}
.nav-back-icon{
  color:$primary-color !important;
}
.editor-container{
  padding: 1em;
  width: 100%;
  height:100%; 
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  // display: flex;
  // justify-content: space-between;
}
.editor-text{
  padding:1em;
}
.editor-title{
  background-color: #fff;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subject-title{
  background-color: #fff;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #e9ecef;
    display: flex;
    align-items: center;
span{
  padding:0.5em;
}
}
.modal-90w {
  min-width:90%;
}

.modal-60w {
  min-width:60%;
}
.modal-40w {
  min-width:40%;
}
.classroom-nav-tab {
  .nav-tabs {
    .nav-link {
      padding: 8px 3px;
      margin: 0px 25px;
      width: fit-content;
      text-align: center;
      border: 0px;
      outline: none;
      color: #8f8f8f;
      font-weight: 500;
      font-size: 18px;
      border-radius: 0px;
      &:nth-child(1) {
        margin: 0px;
        margin-right: 20px;
      }

      svg {
        color: #8f8f8f;
      }
      &.active {
        border-bottom: 3px solid #136acd;
        color: #136acd;
        svg {
          color: #136acd;
        }
      }
    }
  }
  @media (max-width: 576px) {
    .nav-tabs {
      justify-content: space-between;
      .nav-link {
        padding: 0;
        margin: 0;
        font-size: 12px;
        &:nth-child(1) {
          margin: 0px;
          margin-right: 0px;
        }
      }
    }
  }
}